:root {
  --theme-color: #3ac1ff;
  --theme-bgcolor: #dadada;
  --arrow-size: 10px;
  --tooltip-color: #1e5f7e;
}

html {
  box-sizing: border-box;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0%;
  pointer-events: none;
  transition-delay: 0.5s;
}

body {
  height: 100%;
}

.player-box {
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-box {
  width: 800px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.controls-box {
  right: 0;
  left: 0;
  padding: 5px;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
}

.controls-box.hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0.3s;
}

.bottom-controls {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-controls {
  display: flex;
  align-items: center;
}

.right-controls {
  display: flex;
  align-items: center;
  color: var(--theme-color);
}

.time {
  margin-right: 7px;
}

.timeline {
  position: relative;
  top: 0;
  width: 100%;
  cursor: pointer;
  height: 8.4px;
  margin-bottom: 10px;
}

.volume {
  position: relative;
  top: 0;
  width: 120px;
  cursor: pointer;
  height: 8.4px;
  margin-bottom: 10px;
  transition: opacity 0.35s;
}

.timeline:hover+.timeline-tooltip {
  display: block;
}

button * {
  pointer-events: none;
}

button {
  height: 25px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: .25rem;
  margin-right: 7px;
  background-color: var(--theme-color);
  transition: 0.1s transform ease-in-out;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  filter: invert(100%) hue-rotate(180deg) brightness(1.7);
}

button:hover {
  transform: scale(1.1, 1.1);
}

button::before, button::after {
  --scale: 0;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms, transform;
  transform-origin: bottom center;
  filter: brightness(1.2);
}

button::before {
  --translate-y: calc(-100% - var(--arrow-size));

  color: black;
  content: attr(data-tooltip);
  padding: .2rem;
  border-radius: 3px;
  text-align: center;
  width: max-content;
  background: var(--theme-color);

}

button:hover::before,
button:hover::after {
  --scale: 1;
}

button::after {
  --translate-y: calc(-1.1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--theme-color);
}

button:active {
  transform: scale(0.8, 0.8);
  background-color: rgb(179, 179, 179);
}

.play {
  background-image: url(../svg/play-icon.svg);
  position: relative;
}



.pause {
  background-image: url(../svg/pause-icon.svg);
}

.fullscreen {
  background-image: url(../svg/fullscreen-icon.svg);
}

.exit-fullscreen {
  background-image: url(../svg/compress.svg);
}

.volume-button.mute {
  content: url(../svg/mute.svg);
}

.volume-button {
  background-image: url(../svg/volume-high.svg);
}

.forward {
  background-image: url(../svg/forward.svg);
}

.backward {
  background-image: url(../svg/backward.svg);
}

input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  margin: 5px 0;
  /* width: 100%; */
  background: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  /* width: 100%; */
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--theme-color);
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--theme-color);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  transition: 0.4s all ease-out;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--theme-color);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--theme-color);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  transition: 0.4s all ease-out;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: var(--theme-color);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: var(--theme-color);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--theme-color);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  transition: 0.4s all ease-out;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}