:root {
  --silver: #dadada;
}




.video-container {
  background-color: black;
}

.play-button {
  background: url('src/play-icon.svg');
}

.pause-button {
  background: url('src/pause-icon.svg');
}

svg {
  width: 28px;
  height: 28px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
}

button {
  height: 40px;
  width: 40px;
}